
@{
    ViewBag.Title = "Login";
    Layout = null;
}
@section css
{
    <link rel="stylesheet" href="/Content/login.less" />
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="wrapper fadeInDown" style="margin-top: 140px">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first" style="margin-top: 10px; margin-bottom: 10px">
                <i class="fad fa-user fa-7x"></i>
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second form-login" name="Username" placeholder="login">
                <input type="password" id="password" class="fadeIn third form-login" name="Password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>

}