@model WebComputerAccessories.Models.ViewModel.DataJson
@{
    ViewBag.Title = "Trang Chủ";
}

<div class="render row"></div>

@section Scripts {
    <script>
        /*<div>${(new Date(x.DateCreated)).toLocaleDateString()}</div>*/
        var data = @Html.Raw(Model.Data);
       
        var render = () => {
            const products = data.map(x => {
                return `
                     <div class="card-wrapper col-lg-3 col-md-4 col-sm-5 col-12 tlt mt-3">
                        <a href="">
                            <div class="card-product">
                                <div class="pd-img">
                                    <img class="img-product" src="${x.Image}" alt="">
                                </div>
                                <div class="infor">
                                    <div class="name">${x.Name}</div>
                                    <strong class="price">${(new Intl.NumberFormat('de-DE').format(x.Price))}₫</strong>
                                </div>
                            </div>
                        </a>
                    </div>
                `;
            });

            $$('.render').innerHTML = products.join('');
        };
        render();

    </script>
}
