@model WebComputerAccessories.Models.ViewModel.DataJson
@{
    ViewBag.Title = "Home Page";
}

<div class="render"></div>

@section Scripts {
    <script>
        var data = @Html.Raw(Model.Data);
        /*<div>${(new Date(x.DateCreated)).toLocaleDateString()}</div>*/
        var render = () => {
            const products = data.map(x => {
                return `
                    <div>${x.Id}</div>
                    <div>${x.Name}</div>
                    <div>${x.Price}</div>
                    <div>${x.Stock}</div>
                    <img src="${x.Image}" />
                `;
            });

            $$('.render').innerHTML = products.join('');
        };
        render();


    </script>
}
