@model WebComputerAccessories.Models.ViewModel.DataJson
@{
    ViewBag.Title = "Trang Chủ";
}

<div class="container"><div class="render row"></div></div>


@section Scripts {
    <script>
        $.ajax({
            url: "/Home/GetProductsJson",
            context: document.body,
            success: function(data){
                var render = () => {
                    const products = data.map(x => {
                        return `
                     <div class="card-wrapper col-lg-3 col-md-4 col-sm-5 col-12 tlt mt-3">
                        <a href="/Detail?id=${x.Id}">
                            <div class="card-product">
                                <div class="pd-img">
                                    <img class="img-product" src="${x.Image}" alt="">
                                </div>
                                <div class="infor">
                                    <div class="name">${x.Name}</div>
                                    <strong class="price">${(new Intl.NumberFormat('de-DE').format(x.Price))}₫</strong>
                                </div>
                            </div>
                        </a>
                    </div>
                `;
                    });

                    $$('.render').innerHTML = products.join('');
                };
                render();
            },
            error: function(error){
                console.log("Error:");
                console.log(error);
            }
        }).done(function() {
            $(this).addClass("done");

        });
    </script>
}
