.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--box-bg);
    a{
        text-decoration: none;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--text-color);
        height: var(--nav-height);
        a {
            color: var(--text-color);
        }
    
        .logo {
            font-size: 22px;
            font-weight: 900;
            margin-bottom: 5px;
            img{
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
            .logo-color{
            color:  var(--main-color);
            }
        }
    
        .form-search{
            
            .search{
                border-radius: 12px;
                padding: 6px;
                background: #e6e6e6;
        
                input{
                    width: 150px;
                    border: none; 
                    background: #e6e6e6;
                    outline: none;
                }
                span{
                    
                    i{
                        cursor: pointer;
                        
                        right: 12%;
                        cursor: pointer;
                        color: #a1a1a1
                    }
                    i:hover{
                        color: var(--main-color);
                    }
                }
            }
        }
        
        .login{
                            
            .btn{
                font-weight: 900;
                color: #fff;
                background: var(--main-color);
                font-size: 15px;
        
            }
        }
    
        .nav-menu {
            margin-top: 12px;
            list-style-type: none;
            display: flex;
            align-items: center;
            padding: 0 20px;
            a {
                text-transform: uppercase;
            }
        
            a:hover {
                color: var(--main-color);
            }
            .nav-menu a.btn:hover,
            a.logo:hover,
            a.movie-item:hover {
            color: unset;   
            }  
        
            li ~ li {
                margin-left: 30px;
            }
        }
    }
}

//Nav-mobile
.hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;

    .hamburger {
        position: relative;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
    }

    .hamburger::before,
    .hamburger::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .hamburger::before {
        top: -10px;
    }

    .hamburger::after {
        bottom: -10px;
    }

}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

/*BUTTON*/
.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
    i,span{
        z-index: 1;
        color: #fff;
    }
    i {
        margin-right: 1rem;
    }
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;

  
}

.btn-hover:hover::before {
    width: 100%;
}

/*Section*/

.card-wrapper {
    border: 2px solid #f1f1f1;
}

.card-wrapper:hover {
    -webkit-box-shadow: 0 2px 12px rgb(0 0 0 / 2);
    -moz-box-shadow: 0 2px 12px rgba(0,0,0,.2);
    box-shadow: 0 2px 12px rgb(0 0 0 / .2);
}

.card-product:hover .name {
    color: var(--main-color)
}

.card-product {
    padding: 10px;
}

a:hover .img-product {
    transform: translateY(-8px);
}

.img-product:hover {
    transform: translateY(-8px);
}

.img-product {
    max-width: 100%;
    transition: all .4s ease-in-out;
    border-radius: 5px;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    margin-top: 10px;
    line-height: 16px;
    transition: all .2s ease-in-out;
}

.price {
    color: #222;
    display: inline-block;
    font-weight: bold;
    margin-top: 8px;
    font-size: 16px;
    line-height: 18px;
}

/*Additional Cart*/
.cart-wrapper {

    .cart-left {
        background: #fff;

        .cart-image {
            padding-top: 15px;

            img {
                max-height: 400px;
            }
        }
    }

    .cart-right {
        background: #fff;

        .cart-information {
            width: 100%;
            padding: 1.25rem 2.1875rem 0 1.25rem;

            .cti-name {
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-weight: 500;
                margin: 0;
                vertical-align: sub;
                max-height: 3rem;
                line-height: 1.5rem;
                overflow: hidden;
                max-width: 41.5625rem;
                font-size: 1.25rem;
                word-wrap: break-word;
            }

            .bg-price {
                padding: 15px 20px;
                background: #fafafa;

                .cti-price {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #c0392b;
                }
            }

            .bg-detail {
                padding: 15px 20px;

                .tt-detail {
                    color: #757575;
                    width: 60px;
                    font-size: 14px;
                    text-transform: capitalize;
                    -webkit-flex-shrink: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }

                .cti-detail {
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    margin: 0;
                    vertical-align: sub;
                    max-height: 7rem;
                    line-height: 1.5rem;
                    overflow: hidden;
                    max-width: 40rem;
                    font-size: 1rem;
                    word-wrap: break-word;
                }
            }

            .bg-amount {
                padding: 15px 20px;
                display: flex;
                flex-wrap: wrap;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                .tt-amount {
                    color: #757575;
                    width: 80px;
                    font-size: 14px;
                    text-transform: capitalize;
                    -webkit-flex-shrink: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }

                ._sp {
                    max-width: 200px;
                    width: 100%;
                    margin-left: 10px;
                }

                .input-gr {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;

                    .itoutline {
                        outline: none;
                        cursor: pointer;
                        border: none;
                        font-size: .875rem;
                        font-weight: 300;
                        line-height: 1;
                        letter-spacing: 0;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -moz-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                        -moz-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-transition: background-color .1s cubic-bezier(.4,0,.6,1);
                        transition: background-color .1s cubic-bezier(.4,0,.6,1);
                        border: 1px solid rgba(0,0,0,.09);
                        border-radius: 2px;
                        background: transparent;
                        color: rgba(0,0,0,.8);
                        width: 32px;
                        height: 32px;

                        .svg-icon {
                            font-size: 10px;
                            width: 10px;
                            height: 10px;
                            color: var(--main-color);
                            stroke: var(--main-color);
                        }
                    }

                    .input-amount {
                        width: 50px;
                        height: 32px;
                        border-left: none;
                        border-right: none;
                        font-size: 16px;
                        font-weight: 400;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        text-align: center;
                        cursor: text;
                        border-radius: 0;
                        -webkit-appearance: none;
                    }
                }
            }

            .add-cart {
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                flex-direction: row;
                max-width: 11.25rem;
                padding: .75rem;
                margin: 15px 20px;
                font-size: 14px;
                text-decoration: none;
                background: rgba(255,87,34,.1);
                border: 1px solid var(--main-color);
                box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
                color: var(--main-color);

                .icon-add-to-cart {
                    margin-right: 10px;
                    color: var(--main-color);
                    stroke: var(--main-color);
                    font-size: 1.25rem;
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    fill: currentColor;
                    position: relative;
                }
            }
        }
    }
}


/*Footer*/
footer {
    padding-top: 80px;
    width: 100%;
    background-color: var(--box-bg);
    color: var(--text-color);

    .content {
        margin: 20px 0;

        .logo {
            margin-top: -2.5rem;
            display: block;
            font-size: 30px;

            .main-color {
                color: var(--main-color);
            }

            i {
                color: var(--main-color);
            }
        }

        .logo:hover {
            color: unset;
        }

        .social-list {
            display: flex;
            align-items: center;
            margin-top: 20px;

            .social-item {
                --size: 30px;
                height: var(--size);
                width: var(--size);
                display: grid;
                place-items: center;
                border-radius: 50%;
                background-color: var(--text-color);
                color: var(--main-color);
            }

            .social-item:hover {
                background-color: var(--main-color);
                color: var(--text-color);
            }

            .social-item ~ .social-item {
                margin-left: 20px;
            }
        }
    }

    .footer-menu {
        list-style-type: none;

        a {
            display: inline-block;
            transition: transform 0.2s ease-in-out;
        }

        a:hover {
            transform: translateX(5px);
        }
    }

    a:hover {
        color: var(--main-color);
    }

    img {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: unset;
    }

    ul {
        padding-left: 0;
    }

    .copyright {
        padding: 10px;
        border-top: 1px solid var(--body-bg);
        background-color: var(--box-bg);
        text-align: center;
    }
}

/*Back-to-top*/
.back-to-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 5px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: var(--main-color);
    text-align: center;
    z-index: 999;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: none;
}

.back-to-top:hover {
    color: unset;
}