:root {
    --main-color: #c0392b;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #fff;
    --primary-bg: #432275;
    --purple-primary: #7200a1;
    --text-secondary: hsla(0,0%,100%,0.5);
    --main-box-shadow: rgba(66,66,66,0.4);
    --box-item-bg: hsla(0,0%,100%,0.1);
    --nav-height: 60px;
    --space-top: 30px;
}

::-webkit-scrollbar {
    width: 5px;
    background: #fff;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var( --main-color);
}
a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

img, svg {
    vertical-align: unset !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

#previewImg{
    width: 100px !important;
}

.main-color {
    color: var(--main-color);
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}

.row {
    padding: 0 40px;
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 20%;
    }
}

.cl-3 {
    width: 25%;
}

.cl-4 {
    width: 33.33%;
}

.cl-8 {
    width: 66.66%;
}

@media only screen and (max-width: 1024px) {

    .cl-md-6 {
        width: 50%;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: var(--box-bg);
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }

}

@media only screen and (max-width: 850px) {
    html{
        font-size: 12px;
    }
    .cl-sm-6 {
        width: 50%;
    }
    .cl-sm-12 {
        width: 100%;
    }
}





