svg#freepik_stories-welcome:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-welcome.animated #freepik--character-2--inject-1--inject-33 {
    animation: 1.5s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft,1.5s Infinite linear wind;
    animation-delay: 0s,1.5s;
}

svg#freepik_stories-welcome.animated #freepik--character-1--inject-1--inject-33 {
    animation: 1.5s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight,1.5s Infinite linear wind;
    animation-delay: 0s,1.5s;
}

svg#freepik_stories-welcome.animated #freepik--characters-with-banner--inject-1--inject-33 {
    animation: 1.5s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn,1.5s Infinite linear floating;
    animation-delay: 0s,1.5s;
}
.animated {
    width: 100% !important;
    height: 100% !important;
    stroke: none;
}
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes wind {
    0% {
        transform: rotate( 0deg );
    }

    25% {
        transform: rotate( 1deg );
    }

    75% {
        transform: rotate( -1deg );
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



svg#freepik_stories-oops-404-error-with-a-broken-robot:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwwic0bzlg2i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elehbzfm3p6yl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.03571428571428571s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elvas2wrgst3d {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.07142857142857142s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0gu0r3qm1rss {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.10714285714285714s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elfhic2frqkgw {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.14285714285714285s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldhnmjc3qvuj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.17857142857142855s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el5a66zukxf4f {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.21428571428571427s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elm1mw9dnpgi {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.25s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqj718o80jga {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.2857142857142857s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el3vc1wzr3e0g {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3214285714285714s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el702xzqw97ec {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3571428571428571s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgldzw4evl8w {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.39285714285714285s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzr1g8y8n30p {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.42857142857142855s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elhzg1s7iff77 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.46428571428571425s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el9mt8p6koe9j {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elkreb0uvuts {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5357142857142857s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el1psgai9ke4y {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5714285714285714s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eleto3h0hbmss {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6071428571428571s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbkjqbmw0ji5 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6428571428571428s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el959165drigq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6785714285714285s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elfu36zqr9s7v {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7142857142857142s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldyjongiahtq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.75s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el30hi6kqxxxj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7857142857142857s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elmxbdydht1ep {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8214285714285714s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elcfi443ugf7 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8571428571428571s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el573rvcznspj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8928571428571428s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbp315bvpwh {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9285714285714285s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwb7975qnhw {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9642857142857142s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #freepik--background-complete--inject-2 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el9j6sn1sw2k {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0s;
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elde6o7vfyxeq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.06666666666666667s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elx5bppl6eoth {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.13333333333333333s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elabo4a1g0jxi {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.2s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el7yv5fu1baky {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.26666666666666666s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgvsamivv1y {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3333333333333333s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsggjl8wea7b {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elh6kh4whl68s {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4666666666666667s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elrjkbos99et {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5333333333333333s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6ehlmm3wp56 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqh4fo656jek {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6666666666666666s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el19pjxndh1qt {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7333333333333333s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eluk3c4czt4o {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elox3azb134x {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8666666666666667s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eljfzbrc1asb {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9333333333333333s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #freepik--speech-bubble--inject-2 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut,1.5s Infinite linear shake;
    animation-delay: 0s,1s;
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elugp6nkqy47h {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxk7076gl3xl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.004405286343612335s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldoije35a6yq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.00881057268722467s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el2zqrm1x9t0k {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.013215859030837006s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqdfhrrulx08 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.01762114537444934s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldhuodej9mr7 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.022026431718061675s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwiafnchj8vl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.026431718061674013s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgmk63e1n9gv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.030837004405286347s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el13v6e2xby5s {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.03524229074889868s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el74d0dsrpj4a {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.039647577092511016s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elfzv2t4zo266 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.04405286343612335s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elcv7tbe0q3cl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.048458149779735685s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elhzka8875ui4 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.052863436123348026s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4r2pgwpd175 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.05726872246696036s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4oso1qryltf {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.061674008810572695s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elw1u5ywm6nfm {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.06607929515418502s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6jtnallzezm {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.07048458149779736s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elh7qetpm9yub {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.0748898678414097s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0h26lu0y2389 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.07929515418502203s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elshqfhgpw1e9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.08370044052863437s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elli4wn1z6lh {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.0881057268722467s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #els37lfky0fmc {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.09251101321585904s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6b6ss1cq2d2 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.09691629955947137s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el5hk2c1yin4m {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.10132158590308371s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ell5ye3epsb6l {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.10572687224669605s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqu32kdxalc {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.11013215859030838s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eluf79vilcoo9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.11453744493392072s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elamte0becg0v {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.11894273127753305s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eln3qsmlfl3q {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.12334801762114539s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elp1wumhe8tks {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.12775330396475773s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eln3trn6tikx {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.13215859030837004s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0dps9keex645 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.13656387665198239s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6z91s28z7wd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.14096916299559473s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqbb00clr1i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.14537444933920707s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elkqkwx2nvt3g {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.1497797356828194s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsi2jtb0w3hr {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.15418502202643172s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el2qscgi3ayo6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.15859030837004406s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elhmfrwkobbgn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.1629955947136564s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eli2b25q14b4i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.16740088105726875s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgm6twdu6nkc {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.17180616740088106s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxxgqrrag1hg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.1762114537444934s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eli8t7d50vq5m {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.18061674008810574s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elui22zru3kn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.18502202643171808s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0ntohxrfqs2p {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.18942731277533043s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwch2l9fq7ac {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.19383259911894274s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elq0vebobe9pj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.19823788546255508s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6btip78vymw {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.20264317180616742s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0c8lt2qayyb {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.20704845814977976s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqmrfkalu9fd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.2114537444933921s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elcsw0vg1nxa {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.21585903083700442s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el77d9w5qqh3o {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.22026431718061676s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el7vizi3hl48v {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.2246696035242291s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elte4vadcxigi {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.22907488986784144s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eld4jbmq5tlyt {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.23348017621145375s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzko819qcilp {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.2378854625550661s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsy430i7qib {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.24229074889867844s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el81hdcn1wubv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.24669603524229078s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ellig7x5c6hv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.2511013215859031s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgdhhmv2mc7g {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.25550660792951546s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elto9hyls7kpe {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.2599118942731278s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el1ivyrlx9jhh {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.2643171806167401s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elmci9ts3kax {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.26872246696035246s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elvwmcnxcuuw {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.27312775330396477s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el09sk7ouat61f {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.27753303964757714s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elc48bzriz6jw {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.28193832599118945s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elh3xxkrtrbnp {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.28634361233480177s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elz7lv2bufb7 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.29074889867841414s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el5yy2xchlnxn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.29515418502202645s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elkaj2vx7grtm {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.2995594713656388s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elumyfatgvwui {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.30396475770925113s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #els2gx567tqa {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.30837004405286345s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4etnyi68crt {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3127753303964758s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwszaiegv2xk {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.31718061674008813s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgc7uiljp6bl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3215859030837005s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eltr4q5xes4rl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3259911894273128s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eley6nh3qmiui {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3303964757709251s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ell48gorkalna {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3348017621145375s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elane0crecgjs {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3392070484581498s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elizwzrr27lwj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3436123348017621s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el1w8ehn89jul {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3480176211453745s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el42x09r0wvtw {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3524229074889868s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el3y98y81efgs {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.35682819383259917s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elrc4p312n29c {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3612334801762115s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elaibdpmbj5sq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3656387665198238s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el2he4scp25g6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.37004405286343617s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4i2flf1oo43 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3744493392070485s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elh9m0hhxcp9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.37885462555066085s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eloiczk9ew96f {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.38325991189427316s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elcio0v3ht27k {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.3876651982378855s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elkh7b2ju7k87 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.39207048458149785s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ely8kdmidxtle {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.39647577092511016s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elfcn29gdx4dq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.40088105726872253s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6xwz1nkp83k {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.40528634361233484s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ela075xn3g4o {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.40969162995594716s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elt08q54xqgyd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4140969162995595s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elv0kjznv6nw {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.41850220264317184s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el81bdqhssmkf {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4229074889867842s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6kjfik3x0bt {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4273127753303965s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0tu713no4j1d {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.43171806167400884s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldmhfew7b26 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4361233480176212s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el88bbltcwruj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4405286343612335s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elmjv6q1nepn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.44493392070484583s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbxqepqgxf9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4493392070484582s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elo6pnf3u7qpi {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4537444933920705s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eld0aw24cfi4g {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4581497797356829s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldo7ksmwhxil {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4625550660792952s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el5vnv7juak76 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4669603524229075s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el7z3nr31vyn6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4713656387665199s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elybc4b0inbh {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4757709251101322s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elnrgbbgu40u {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.48017621145374456s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eljbcldntvw3l {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4845814977973569s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elhzgw3ipzz5 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.4889867841409692s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elagxl4cym9wd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.49339207048458156s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elom78resnwn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.49779735682819387s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elt7731jrqvo {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5022026431718062s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elfnykgbpy15q {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5066079295154186s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxkthfosojtj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5110132158590309s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzv6ontn83gg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5154185022026432s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgv4344vfor {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5198237885462555s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elh0wehd8yja9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5242290748898679s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6bt2f37t3c6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5286343612334802s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elpgmp8nzo38 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5330396475770925s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elskks5y7lkda {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5374449339207049s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el3tb1l15vf76 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5418502202643173s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el9mkrx0zax5e {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5462555066079295s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elkuasw6dg22d {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5506607929515419s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el89d0g128ii8 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5550660792951543s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elb3rcwyzb15 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5594713656387665s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eli8burmfbmy {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5638766519823789s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsr5dwrg9a2 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5682819383259913s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elglcot6yxghj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5726872246696035s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ela85ucax9axi {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5770925110132159s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsgzongw2jaj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5814977973568283s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elogy6xzv8d8q {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5859030837004405s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4bbe4jvr76v {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5903083700440529s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elooql9zqjm5p {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5947136563876653s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elojzzeu271l {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.5991189427312776s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elns8riyplyaj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6035242290748899s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eljxg8treesoq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6079295154185023s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eloboo4cab1t {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6123348017621146s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxgajpj0yesq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6167400881057269s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqhgeovwcswq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6211453744493393s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elq6bce539el {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6255506607929516s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elnnqcc4a5emp {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6299559471365639s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el8sh318zukoe {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6343612334801763s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elngmiun2hw5p {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6387665198237886s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el3042qq49goy {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.643171806167401s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqlmqepin6d {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6475770925110133s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ele0lfjglldri {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6519823788546256s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elj6d3zqo02n {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.656387665198238s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elje2b21i20vo {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6607929515418502s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwq3unk8eaqg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6651982378854626s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elkkys2x2pkjl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.669603524229075s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ele16m9eimpwq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6740088105726872s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elev1xtlpwb2 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6784140969162996s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elv8yrykzey4i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.682819383259912s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ely59oieu06hc {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6872246696035242s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eluy67t0pi7y9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.6916299559471366s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqwpn3vyv7i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.696035242290749s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elk9s7qhlblv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7004405286343613s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ello3oft98qe9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7048458149779736s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4o93z25sh3w {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.709251101321586s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elkmd2kd37whq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7136563876651983s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elw113vp9iwl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7180616740088106s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elfjbe6ya7vwg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.722466960352423s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elg9j12yncy2 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7268722466960353s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elokjoi9avrz {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7312775330396476s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elpkwqsuz1wzo {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.73568281938326s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ele99ijuw8rxl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7400881057268723s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwktbkusajy {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7444933920704847s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elozgl09htne {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.748898678414097s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elyr146yori7o {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7533039647577093s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsr5o0zkd5kc {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7577092511013217s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgepmq0r1tla {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.762114537444934s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsjv7r3y0ehn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7665198237885463s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el69qivplxcb4 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7709251101321587s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el41q97o4lizk {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.775330396475771s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el2v9a7kxfyih {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7797356828193833s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elpbj6kidgt7 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7841409691629957s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elvw0x5j6e2h {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.788546255506608s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elir2mxszopq9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7929515418502203s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6o6ur04euai {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.7973568281938327s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elph149sako8b {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8017621145374451s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elmv94w2t6toi {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8061674008810573s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ell5mhe0xbu8j {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8105726872246697s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elrl8vn7wrtrb {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.814977973568282s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elkhnjswv9s1a {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8193832599118943s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el71ogwt90oyo {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8237885462555067s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0cdiwkm3b6au {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.828193832599119s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqiilcqo986t {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8325991189427313s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elunlcfly0br {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8370044052863437s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzoxcj67hds {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.841409691629956s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elcpy8x9qlv3v {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8458149779735684s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbbah6tkh1m4 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8502202643171807s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ela7qaknwubt6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.854625550660793s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eltuwax3fw1pa {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8590308370044054s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzztm1l85xb {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8634361233480177s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ely1bmmpaijvo {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.86784140969163s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elr33782ud7 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8722466960352424s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el9og0820pb6k {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8766519823788547s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzl9dckstiv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.881057268722467s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzp5ols0z5a8 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8854625550660794s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el1u6e5796de {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8898678414096917s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbf0kpxhiwf {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.894273127753304s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwlsfib8hf1r {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.8986784140969164s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwyscmsqz95m {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9030837004405288s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elczuf4jnaagr {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.907488986784141s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwii2tibtsk {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9118942731277534s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elt6crmgna41q {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9162995594713658s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el08ip332kxtc3 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.920704845814978s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elb6bqlc7k60i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9251101321585904s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elopycui9h38 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9295154185022028s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elowi4iauwwv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.933920704845815s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elalbonr4cijd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9383259911894274s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqwo9lboy6lo {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9427312775330398s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elx77had74qsn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.947136563876652s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elai91iqwwzrp {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9515418502202644s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elcyjcy3lz42g {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9559471365638768s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elvyhnp2wmvt {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9603524229074891s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el07bpnmefo36g {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9647577092511014s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elz7kya2deo88 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9691629955947137s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0en0zsuf3h0n {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9735682819383261s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elszkzh6twleq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9779735682819384s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el9lfx8ztwy0i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9823788546255507s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elajkfzs3q2xs {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9867841409691631s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elyijuybgpj5 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9911894273127754s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldund29cfvkf {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0.9955947136563877s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #freepik--Robot--inject-2 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn,1.5s Infinite linear shake;
    animation-delay: 0s,1s;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

