<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @*<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">*@
    <!--Box icon-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--BOOTSTRAPS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--LESS-->
    <link rel="stylesheet/less" href="/Content/app.less">
    <link rel="stylesheet/less" href="/Content/base.less">
    <!--WOW-->
    <link rel="stylesheet/less" href="/Content/wowjs/animate.css">
    <!--AutoComplete-->
    @RenderSection("css", required: false)
</head>
<body>

    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a href="/" class="logo">
                    <img src="" alt="">
                    &nbsp;<span class="shop-name">Bá<span class="main-color">n</span>h<span class="main-color">Ú</span><span class="tv">Shop</span></span>
                </a>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="/Cart"><svg viewBox="0 0 26.6 25.6"><polyline fill="none" points="2 1.7 5.5 1.7 9.6 18.3 21.2 18.3 24.6 6.1 7 6.1" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2.5"></polyline><circle cx="10.7" cy="23" r="2.2" stroke="none"></circle><circle cx="19.7" cy="23" r="2.2" stroke="none"></circle></svg>&nbsp;Giỏ Hàng</a></li>
                    <li>
                        <form class="form-search">
                            <div class="search">
                                <input id="autoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" placeholder="Tìm kiếm...">
                            </div>
                        </form>
                    </li>

                    <li>
                        @if (Session["MaNguoiDung"] == null)
                        {
                            <a href="/Login" class="_btn btn-hover">
                                <span>Sign in</span>
                            </a>
                        }
                        else
                        {
                            <a href="/Login/SignOut" class="_btn btn-hover">
                                <span>Sign out</span>
                            </a>
                        }

                    </li>
                </ul>
                <!-- MOBILE MENU TOGGLE -->
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 60px"></div>

    <div style="margin: 80px 0 50px 0">
        @RenderBody()
    </div>
    <div class="margin-footer"></div>
    <a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>
    <footer>
        <div class="container">
            <div class="row">
                <div class="cl-4 cl-md-6 cl-sm-12">
                    <div class="content">
                        <a href="#" class="logo">
                            <i class='bx bxs-mouse-alt bx-tada'></i>&nbsp;&nbsp;Bá<span class="main-color">n</span>h<span class="main-color">Ú</span><span class="tv">Shop</span>
                        </a>
                        <p>
                            Chuyên cung cấp các linh kiện máy tính chất lượng, chính hãng. Đến với chúng tối quý khách sẽ được đảm bảo sản phẩm chính hãng 100%. Với phương châm "Chất lượng hơn là số lượng!".
                        </p>
                        <div class="social-list">
                            <a href="#" class="social-item">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-discord"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cl-8 cl-md-6 cl-sm-12">
                    <div class="row">
                        <div class="cl-3 cl-md-6 cl-sm-6">
                            <p><b>Contact</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                        <div class="cl-3 cl-md-6 cl-sm-6">
                            <p><b>Browse</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                        <div class="cl-3 cl-md-6 cl-sm-6">
                            <p><b>Help</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                        <div class="cl-3 cl-md-6 cl-sm-6">
                            <p><b>Download app</b></p>
                            <ul class="footer-menu">
                                <li>
                                    <a>
                                        <img src="/Content/images/app-store.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="/Content/images/google-play.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="copyright">
                Copyright 2021 &copy; Sơn & Thuận DH19PM
            </div>
        </div>
    </footer>


</body>
<script src="/Content/wowjs/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--LESS JS-->
<script src="/Content/less.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.1/less.min.js" integrity="sha512-mE4RWRhILuNDWPx8sl5Q739XNbibSUZP9dEjdepzpYVw1kDco9ZZ5l/+KHAMffzXNHnmSWexMSN+OX137tNL5A==" crossorigin="anonymous"></script>-->
<script src="/Content/app.js"></script>
<!--AutoComplete-->
<script>
        var loadSearch= () => {
            $.ajax({
                url: "/Home/GetProductsJson?skip=0&take=60",
                type: "POST",
                context: document.body,
                success: function (data) {
                    var source = data.map(x => { return x.Name });
                    console.log(source);
                    var render = () => {
                        // autoComplete.js Config Options
                        $("#tags").autocomplete({
                            source: availableTags
                        });

                    };
                    render();
                },
                error: function(error) {
                    console.log("Error:");
                    console.log(error);
                }
            });

        }
        loadSearch();

</script>
@RenderSection("scripts", required: false)
</html>



